
/*
  title: all-styles css
*/

// Fonts

@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,500,700');

@import url('../icomoon/style.css');
@import url('../bootstrap-switch/static/stylesheets/bootstrapSwitch.css');

@import 'resets';

.reset();
.normalize();

.hide {
	display: none;
}
.clear {
	clear: both;
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 100%;

	color: #ffffff;

	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

	background-color: #2C152A;
	/* Gradient */ 
	background-image: -ms-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -moz-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -o-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #2C152A), color-stop(1, #151515));
	background-image: -webkit-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: linear-gradient(to bottom left, #2C152A 0%, #151515 100%);

	margin: 0;
	padding: 0;
	z-index: 0;
/*
	text-shadow: 0px 0px 4px #757575;
        filter: dropshadow(color=#757575, offx=0, offy=0);
        */

}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}

strong {
	font-weight: 600;
}

a, a:link, a:hover, a:visited {
	cursor: pointer;
	color: white;
	text-decoration: none;
}

// Layout

#wrapper {
	//width:1024px;
	//margin: 0.6em auto;
}

#login {

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: 10em 0;

	text-align: center;

	background-color: #2C152A;
	/* Gradient */ 
	background-image: -ms-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -moz-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -o-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #2C152A), color-stop(1, #151515));
	background-image: -webkit-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: linear-gradient(to bottom left, #2C152A 0%, #151515 100%);

	h1 {
		text-transform: uppercase;
		font-size: 3.5em;
		font-weight: bold;

		line-height: 1.8em;

		position: relative;
		left: 0.3em;

		letter-spacing: -2px;
		em {
			font-size: 0.4em;
			font-weight: 300;
			color: #491645;

			position: relative;
			bottom: 1.5em;
		}
	}
	> a {
		display: block;
	}
	a.fb-login {

	}
	a.seamlessviewing {
		color: #b90aae;
		position: fixed;
		display: block;

		width: 100%;
		text-align: center;

		bottom: 2em;
	}
}

.btn {
		padding: 10px 20px;
		background-color: #491645;
		color: white;

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
}

#create_channel {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;

	overflow: scroll;

	background-color: #2C152A;
	/* Gradient */ 
	background-image: -ms-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -moz-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -o-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #2C152A), color-stop(1, #151515));
	background-image: -webkit-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: linear-gradient(to bottom left, #2C152A 0%, #151515 100%);

	ul#categorys {
		width: 1000%;
		display: block;

		padding-top: 10em;

		overflow: scroll hidden;
		li {
			margin: 20px;
			background-color: #491645;

			float: left;

			text-transform: uppercase;
			font-size: 3.8em;
			letter-spacing: -2px;

			font-weight: bold;

			position: relative;

			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			a {
				display: block;
				padding: 80px 100px;
			}
			em {
				position: absolute;
				bottom: 0;
				right: 0;
				float: right;

				padding: 0.5em;

				background-color: #5c2e58;

				font-size: 0.3em;

				-webkit-border-bottom-right-radius: 4px;
				-moz-border-bottom-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
	}
	.tags-title, .categorys-title {
		position: fixed;

		top: 0;
		right: 0;
		left: 0;

		padding-top: 2em;

		font-weight: 400;
	}
	.tags-title, .next {
		display: none;
	}
	.next-wrapper {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		height: 4em;
	}
	.tags {

		display: none;

		padding-top: 10em;

		overflow-x: scroll;
		overflow-y: hidden;

		height: 400px;
		width: 10000%;
		li {

			margin: 5px;
			background-color: #491645;

			float: left;

			font-size: 1.6em;
			letter-spacing: -2px;

			text-transform: uppercase;

			font-weight: bold;

			position: relative;

			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			label {
				display: block;
				padding: 40px 20px;

				letter-spacing: 0px;

				span {
					width: 280px;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				input {
					display: none;
				}
				em {
					display: block;

					padding: 0.5em;
					color: #adadad;

					font-size: 0.6em;
					font-weight: 300;

					letter-spacing: 1px;

					-webkit-border-bottom-right-radius: 4px;
					-moz-border-bottom-right-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}
		li.selected {
			background-color: white;
			label {
				span {
					color: #491645;
				}
			}
		}
	}
}

// Player
#player {
	position: fixed;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;

	background-color: #2C152A;
	/* Gradient */ 
	background-image: -ms-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -moz-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -o-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #2C152A), color-stop(1, #151515));
	background-image: -webkit-linear-gradient(top right, #2C152A 0%, #151515 100%);
	background-image: linear-gradient(to bottom left, #2C152A 0%, #151515 100%);
	div{
		width: 80%;
		margin: 0 auto;

		#player-yt {
			height: 480px;
			width: 360px;
		}
	}

}

